
<div class="content">
	<div class="content-wrapconcern">
		<!-- —————— 我的关注 —————————— -->
		<div class="my-baby white ft22">我的关注</div>
		<!-- —————— consern-baby —————————— -->
		<div class="date-baby">
			<div class="per-baby" ng-repeat="concernBaby in concernBabyInfo"> 
				<img class="head fl" ng-src="images/1.png" />
				<div class="baby-mes fl">
					<p><span class="baby-name">{{concernBaby.name}}</span><span class="no-line line"></span><span class="level"></span></p>
					<p><span class="tall_high">身高：170cm</span><span>体重：46kg</span><span class="dateMoney ft26">￥800.00</span></p>
					<p>服务范围：K歌、看电影</p>
					<button class="dataBtn white ft16">约ta</button>
				</div>
			</div>
		</div>
		
	</div>
</div>