
<div class="content">
	<div class="content-wrapconcern">
		<!-- —————— 我的关注 —————————— -->
		<div class="my-baby white ft22">我的关注</div>
		<!-- —————— consern-baby —————————— -->
		<div class="date-baby"  >
			<div  infinite-scroll='attentionFunction()' infinite-scroll-disabled='{{busy}}'  infinite-scroll-distance='0'  infinite-scroll-immediate-check='true'>
			<div class="per-baby" ng-repeat="concernBaby in concernBabyInfo"> 
				<img class="head fl" ng-src="{{concernBaby.photo}}" />
				<div class="baby-mes fl">
					<p><span class="baby-name">{{concernBaby.nickName}}</span><span class="no-line line" ng-if="concernBaby.serviceStatus==1"></span><span class="no-line" ng-if="concernBaby.serviceStatus==2"></span><span class="level"></span></p>
					<p><span class="tall_high">身高：{{concernBaby.height}}cm</span><span>体重：{{concernBaby.weight}}kg</span><span class="dateMoney ft26">￥{{concernBaby.gradePrice}}.00</span></p>
					<p>服务范围：{{concernBaby.scaleName}}</p>
					<button class="dataBtn white ft16">约ta</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>