
				<div class="babyHomeContent">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">好评宝贝</div>
							<div class="col-md-6 col-xs-6 text-right"><a ng-click="getMoreBaby(1)" class="Anymore">更多</a></div>
						</div>
					<ul class="row good_baby" ng-repeat="sister in sistersName" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sistersName[$index]);$event.stopPropagation();">约ta</div>	
			    			<div class="concern" ng-if="sistersName[$index].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(sistersName[$index]);$event.stopPropagation();" ng-mouseover="cancleConcern(sistersName[$index])"  ng-mouseout="cancleConcernOut(sistersName[$index])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="sistersName[$index].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sistersName[$index]);$event.stopPropagation();">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index].babyId})">
			    					<img ng-src="{{sistersName[$index].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index].nickName}}{{sistersName[$index].babyId}}<span>({{sistersName[$index].orderCounter}}单)</span></div>
										<p><span class="sex">{{sistersName[$index].sex}}</span><span class="age">{{sistersName[$index].age}}</span></p>
										<p>身高：<span>{{sistersName[$index].height}}cm</span>，体重：<span>{{sistersName[$index].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{sistersName[$index].scaleName}}</span></p>
										<p>价格：<span>￥{{sistersName[$index].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index+1].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sistersName[$index+1]);$event.stopPropagation();">约ta</div>
			    				<!--<div class="concern" ng-if="sistersName[$index].attention == 2"><div  class="concern_btn"  ng-click="clickConcern(sistersName[$index+1])">关注</div></div>-->
			    			<div class="concern" ng-if="sistersName[$index+1].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(sistersName[$index+1]);$event.stopPropagation();" ng-mouseover="cancleConcern(sistersName[$index+1])"  ng-mouseout="cancleConcernOut(sistersName[$index+1])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="sistersName[$index+1].attention == '2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sistersName[$index+1]);$event.stopPropagation();">{{concerStatus}}</div></div>
			    			<!--<div class="concern"  ng-if="sistersName[$index].attention == 1"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sistersName[$index+1])">{{concerStatus}}</div></div>-->	
			    				
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+1].babyId})">
			    				<img ng-src="{{sistersName[$index+1].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+1].nickName}}{{sistersName[$index+1].babyId}}<span>({{sistersName[$index+1].orderCounter}}单)</span></div>
										<p><span class="sex">{{sistersName[$index+1].sex}}</span><span class="age">{{sistersName[$index+1].age}}</span></p>
										<p>身高：<span>{{sistersName[$index+1].height}}cm</span>，体重：<span>{{sistersName[$index+1].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{sistersName[$index+1].scaleName}}</span></p>
										<p>价格：<span>￥{{sistersName[$index+1].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index+2].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sistersName[$index+2]);$event.stopPropagation();">约ta</div>
			    				<div class="concern" ng-if="sistersName[$index+2].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(sistersName[$index+2]);$event.stopPropagation();" ng-mouseover="cancleConcern(sistersName[$index+2])"  ng-mouseout="cancleConcernOut(sistersName[$index+2])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="sistersName[$index+2].attention == '2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sistersName[$index+2]);$event.stopPropagation();">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+2].babyId})">
			    				<img ng-src="{{sistersName[$index+2].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+2].nickName}}{{sistersName[$index+2].babyId}}<span>({{sistersName[$index+2].orderCounter}}单)</span></div>
										<p><span class="sex">{{sistersName[$index+2].sex}}</span><span class="age">{{sistersName[$index+2].age}}</span></p>
										<p>身高：<span>{{sistersName[$index+2].height}}cm</span>，体重：<span>{{sistersName[$index+2].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{sistersName[$index+2].scaleName}}</span></p>
										<p>价格：<span>￥{{sistersName[$index+2].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index+3].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sistersName[$index+3]);$event.stopPropagation();">约ta</div>
			    			<div class="concern" ng-if="sistersName[$index+3].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(sistersName[$index+3])" ng-mouseover="cancleConcern(sistersName[$index+3])"  ng-mouseout="cancleConcernOut(sistersName[$index+3])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="sistersName[$index+3].attention == '2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sistersName[$index+3])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+3].babyId})">
			    				<img ng-src="{{sistersName[$index+3].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+3].nickName}}{{sistersName[$index+3].babyId}}<span>({{sistersName[$index+3].orderCounter}}单)</span></div>
										<p><span class="sex">{{sistersName[$index+3].sex}}</span><span class="age">{{sistersName[$index+3].age}}</span></p>
										<p>身高：<span>{{sistersName[$index+3].height}}cm</span>，体重：<span>{{sistersName[$index+3].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{sistersName[$index+3].scaleName}}</span></p>
										<p>价格：<span>￥{{sistersName[$index+3].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		</ul>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">人气宝贝</div>
							<div class="col-md-6 col-xs-6 text-right"><a ng-click="getMoreBaby(2)" class="Anymore">更多</a></div>
						</div>
					<ul class="row good_baby" ng-repeat="hotBaby in hotBabyInfo" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="hotBabyInfo[$index].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(hotBabyInfo[$index]);$event.stopPropagation();">约ta</div>
			    					<div class="concern" ng-if="hotBabyInfo[$index].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(hotBabyInfo[$index])" ng-mouseover="cancleConcern(hotBabyInfo[$index])"  ng-mouseout="cancleConcernOut(hotBabyInfo[$index])">{{cancleConcerStatus}}</div></div>
			    					<div class="concern"  ng-if="hotBabyInfo[$index].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(hotBabyInfo[$index])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:hotBabyInfo[$index].babyId})">
			    				
			    					<img ng-src="{{hotBabyInfo[$index].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{hotBabyInfo[$index].nickName}}<span>({{hotBabyInfo[$index].orderCounter}}单)</span></div>
										<p><span class="sex">{{hotBabyInfo[$index].sex}}</span><span class="age">{{hotBabyInfo[$index].age}}</span></p>
										<p>身高：<span>{{hotBabyInfo[$index].height}}cm</span>，体重：<span>{{hotBabyInfo[$index].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{hotBabyInfo[$index].scaleName}}</span></p>
										<p>价格：<span>￥{{hotBabyInfo[$index].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="hotBabyInfo[$index+1].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(hotBabyInfo[$index+1]);$event.stopPropagation();">约ta</div>
			    					<div class="concern" ng-if="hotBabyInfo[$index+1].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(hotBabyInfo[$index+1])" ng-mouseover="cancleConcern(hotBabyInfo[$index+1])"  ng-mouseout="cancleConcernOut(hotBabyInfo[$index+1])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="hotBabyInfo[$index+1].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(hotBabyInfo[$index+1])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:hotBabyInfo[$index+1].babyId})">
			    				<img ng-src="{{hotBabyInfo[$index+1].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{hotBabyInfo[$index+1].nickName}}<span>({{hotBabyInfo[$index+1].orderCounter}}单)</span></div>
										<p><span class="sex">{{hotBabyInfo[$index+1].sex}}</span><span class="age">{{hotBabyInfo[$index+1].age}}</span></p>
										<p>身高：<span>{{hotBabyInfo[$index+1].height}}cm</span>，体重：<span>{{hotBabyInfo[$index+1].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{hotBabyInfo[$index+1].scaleName}}</span></p>
										<p>价格：<span>￥{{hotBabyInfo[$index+1].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="hotBabyInfo[$index+2].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(hotBabyInfo[$index+2]);$event.stopPropagation();">约ta</div>
			    					<div class="concern" ng-if="hotBabyInfo[$index+2].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(hotBabyInfo[$index+2])" ng-mouseover="cancleConcern(hotBabyInfo[$index+2])"  ng-mouseout="cancleConcernOut(hotBabyInfo[$index+2])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="hotBabyInfo[$index+2].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(hotBabyInfo[$index+2])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:hotBabyInfo[$index+2].babyId})">
			    				<img ng-src="{{hotBabyInfo[$index+2].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{hotBabyInfo[$index+2].nickName}}<span>({{hotBabyInfo[$index+2].orderCounter}}单)</span></div>
										<p><span class="sex">{{hotBabyInfo[$index+2].sex}}</span><span class="age">{{hotBabyInfo[$index+2].age}}</span></p>
										<p>身高：<span>{{hotBabyInfo[$index+2].height}}cm</span>，体重：<span>{{hotBabyInfo[$index+2].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{hotBabyInfo[$index+2].scaleName}}</span></p>
										<p>价格：<span>￥{{hotBabyInfo[$index+2].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="hotBabyInfo[$index+3].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(hotBabyInfo[$index+3]);$event.stopPropagation();">约ta</div>
			    					<div class="concern" ng-if="hotBabyInfo[$index+3].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(hotBabyInfo[$index+3])" ng-mouseover="cancleConcern(hotBabyInfo[$index+3])"  ng-mouseout="cancleConcernOut(hotBabyInfo[$index+3])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="hotBabyInfo[$index+3].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(hotBabyInfo[$index+3])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:hotBabyInfo[$index+3].babyId})">
			    				<img ng-src="{{hotBabyInfo[$index+3].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{hotBabyInfo[$index+3].nickName}}<span>({{hotBabyInfo[$index+3].orderCounter}}单)</span></div>
										<p><span class="sex">{{hotBabyInfo[$index+3].sex}}</span><span class="age">{{hotBabyInfo[$index+3].age}}</span></p>
										<p>身高：<span>{{hotBabyInfo[$index+3].height}}cm</span>，体重：<span>{{hotBabyInfo[$index+3].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{hotBabyInfo[$index+3].scaleName}}</span></p>
										<p>价格：<span>￥{{hotBabyInfo[$index+3].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		</ul>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">新人宝贝</div>
							<div class="col-md-6 col-xs-6 text-right"><a ng-click="getMoreBaby(3)" class="Anymore">更多</a></div>
						</div>
					<ul class="row good_baby" ng-repeat="newBaby in newBabyInfo" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="newBabyInfo[$index].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(newBabyInfo[$index])">约ta</div>
			    					<div class="concern" ng-if="newBabyInfo[$index].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(newBabyInfo[$index])" ng-mouseover="cancleConcern(newBabyInfo[$index])"  ng-mouseout="cancleConcernOut(newBabyInfo[$index])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="newBabyInfo[$index].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(newBabyInfo[$index])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:newBabyInfo[$index].babyId})">
			    				
			    					<img ng-src="{{newBabyInfo[$index].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{newBabyInfo[$index].nickName}}<span>({{newBabyInfo[$index].orderCounter}}单)</span></div>
										<p><span class="sex">{{newBabyInfo[$index].sex}}</span><span class="age">{{newBabyInfo[$index].age}}</span></p>
										<p>身高：<span>{{newBabyInfo[$index].height}}cm</span>，体重：<span>{{newBabyInfo[$index].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{newBabyInfo[$index].scaleName}}</span></p>
										<p>价格：<span>￥{{newBabyInfo[$index].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="newBabyInfo[$index+1].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(newBabyInfo[$index+1])">约ta</div>
			    					<div class="concern" ng-if="newBabyInfo[$index+1].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(newBabyInfo[$index+1])" ng-mouseover="cancleConcern(newBabyInfo[$index+1])"  ng-mouseout="cancleConcernOut(newBabyInfo[$index+1])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="newBabyInfo[$index+1].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(newBabyInfo[$index+1])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:newBabyInfo[$index+1].babyId})">
			    				<img ng-src="{{newBabyInfo[$index+1].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{newBabyInfo[$index+1].nickName}}<span>({{newBabyInfo[$index+1].orderCounter}}单)</span></div>
										<p><span class="sex">{{newBabyInfo[$index+1].sex}}</span><span class="age">{{newBabyInfo[$index+1].age}}</span></p>
										<p>身高：<span>{{newBabyInfo[$index+1].height}}cm</span>，体重：<span>{{newBabyInfo[$index+1].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{newBabyInfo[$index+1].scaleName}}</span></p>
										<p>价格：<span>￥{{newBabyInfo[$index+1].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="newBabyInfo[$index+2].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(newBabyInfo[$index+2])">约ta</div>
			    					<div class="concern" ng-if="newBabyInfo[$index+2].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(newBabyInfo[$index+2])" ng-mouseover="cancleConcern(newBabyInfo[$index+2])"  ng-mouseout="cancleConcernOut(newBabyInfo[$index+2])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="newBabyInfo[$index+2].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(newBabyInfo[$index+2])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:newBabyInfo[$index+2].babyId})">
			    				<img ng-src="{{newBabyInfo[$index+2].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{newBabyInfo[$index+2].nickName}}<span>({{newBabyInfo[$index+2].orderCounter}}单)</span></div>
										<p><span class="sex">{{newBabyInfo[$index+2].sex}}</span><span class="age">{{newBabyInfo[$index+2].age}}</span></p>
										<p>身高：<span>{{newBabyInfo[$index+2].height}}cm</span>，体重：<span>{{newBabyInfo[$index+2].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{newBabyInfo[$index+2].scaleName}}</span></p>
										<p>价格：<span>￥{{newBabyInfo[$index+2].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="newBabyInfo[$index].babyId != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(newBabyInfo[$index+3])">约ta</div>
			    					<div class="concern" ng-if="newBabyInfo[$index+3].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(newBabyInfo[$index+3])" ng-mouseover="cancleConcern(newBabyInfo[$index])"  ng-mouseout="cancleConcernOut(newBabyInfo[$index])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="newBabyInfo[$index+3].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(newBabyInfo[$index+3])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:newBabyInfo[$index+3].babyId})">
			    				<img ng-src="{{newBabyInfo[$index+3].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{newBabyInfo[$index+3].nickName}}<span>({{newBabyInfo[$index+3].orderCounter}}单)</span></div>
										<p><span class="sex">{{newBabyInfo[$index+3].sex}}</span><span class="age">{{newBabyInfo[$index+3].age}}</span></p>
										<p>身高：<span>{{newBabyInfo[$index+3].height}}cm</span>，体重：<span>{{newBabyInfo[$index+3].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{newBabyInfo[$index+3].scaleName}}</span></p>
			    			</div>
			    		</li>
			    		</ul>
					</div>
</div>