<div class="backgroundBox" ng-show="LoginStop">
	<div id="login-box" >
		<div class="formbox">
			
		<form action="">
		<h3 class="tac login-title"><img class="login-logo" src="images/login-logo.png"></h3>
		<div class="phone-number">
			<input class="ft20" id="phone" type="text" placeholder="请输入手机号"  ng-model="phoneNumb"  ng-blur="checkNumb()">
			
			<input class="ft18 fr" id="btnSendCode" type="button" value="获取验证码" ng-click="getMessage()">
		</div>
		<span ng-show="phoneRemind" class="reminder">您输入的手机号码有误！</span>
		<div class="code-number">
			<input class="ft20" type="text" placeholder="请输入验证码" ng-model="verifyCode" ng-change=	"getCode()">
		</div>
		<span ng-show="verifyRemind" class="reminder_verify">您输入的验证码有误！</span>
		<div class="invite-number">
			<input class="ft20" type="text" placeholder="请输入邀请码（选填）" ng-model="inviteCode">
		</div>
		<div class="tac">
			<button class="white ft24" id="login-btn" ng-click='goLogin()'>登录</button>
		</div>
		<button id="exitBtn"></button>
		</form>
		</div>
	</div>
</div>
