
<div class="content">
	<div class="content_wrap_oldOrder">
		<!-- - - -  -没有订单- - -->
		<div class="no_order ft24">
			<img src="images/order_null.png">
			<p class="tac">您当前没有订单信息</p>
			<p class="tac go_choose">快去选你的宝贝吧</p>
		</div>
		<!-- - - -  -有订单- - -->
		<div class="order_datail">
			<!--  - - - -  order_title - -  -->
			<div class="order_title white ft22">
				<span class="fl current_title">当前订单 ：</span>
				<div class="state fl">
					<div class="top_line">
						<span class="circle yellow_circle fl"></span>
						<span class="long_line fl"></span>
						<span class="circle yellow_circle fl"></span>
						<span class="long_line fl"></span>
						<span class="circle yellow_circle fl"></span>
					</div>
					<div class="state_word">
						<p class="yellow_word fl">已提交</p>
						<p class="yellow_word fl">进行中</p>
						<p class="yellow_word fl">已完成</p>
					</div>
				</div>
			</div>
			<!--  - - - - - 所有的历史订单  - - -->
			<div class="orders">
				<!--  - - -  - order_mes - - - - -->
				<div class="order_mes ft20">
					<div class="order_datail">
						<!--  - - - -两个按钮 - - - -->
						<button class="delete"></button>
						<button class="put_up up"></button>
						<p>
						    <span class="order_code">订单编号 ：27849685263238757</span><span class="order_time">下单时间 ：2017-01-20 12:05:55</span>
						</p>
						<p>
							<span class="date_loca">约会地址 ：浙江省杭州市滨江区滨康路天上人间1222包间</span>
							<span class="total2_money ft28">合计：￥1500.00</span>
						</p>
					</div>
					
					<!--  - - -  - date-baby - - - -->
					<div class="date-baby">
						<div class="per-baby"> 
							<img class="head fl" src="images/2.png" />
							<div class="baby-mes fl">
								<p><span class="baby-name">温柔De棉花糖</span><span class="no-line line"></span><span class="level"></span></p>
								<p><span class="tall_high">身高：170cm</span><span>体重：46kg</span><span class="dateMoney ft26">￥600.00</span></p>
								<p>服务范围：K歌、看电影</p>
							</div>
						</div>
						<div class="per-baby"> 
							<img class="head fl" src="images/4.png" />
							<div class="baby-mes fl">
								<p><span class="baby-name">温柔De棉花糖</span><span class="no-line"></span><span class="level"></span></p>
								<p><span class="tall_high">身高：170cm</span><span>体重：46kg</span><span class="dateMoney ft26">￥900.00</span></p>
								<p>服务范围：K歌、看电影</p>
							</div>
						</div>
					</div>
				</div>
				<!--  - - -  - order_mes - - - - -->
				<div class="order_mes ft20">
					<div class="order_datail">
						<!--  - - - -两个按钮 - - - -->
						<button class="delete"></button>
						<button class="put_up down"></button>
						<p>
						    <span class="order_code">订单编号 ：27849685263238757</span><span class="order_time">下单时间 ：2017-01-20 12:05:55</span>
						</p>
						<p>
							<span class="date_loca">约会地址 ：浙江省杭州市滨江区滨康路天上人间1222包间</span>
							<span class="total_money ft28">合计：￥1500.00</span>
						</p>
					</div>
				</div>
		</div>
	</div>
</div>