
<div class="content" filter:"serchText">
	<div class="content-wrap-date">
		<!-- —————— 我的约宝 —————————— -->
		<div class="my-baby white ft22">我的约宝</div>
		
		<div class="order_mes">
			<!-- —————— 填写信息 —————————— -->
			<div class="self_mes"><span class="mes_red">*&nbsp;</span>姓&nbsp;&nbsp;名 ：<input type="text" name=""placeholder="请填写真实姓名" /></div>
			<div class="self_mes"><span class="mes_red">*&nbsp;</span>约会地点 ：<input type="text" placeholder="请填写详细地址" /></div>
			<div class="self_mes"><span class="mes_red">*&nbsp;</span>联系电话 ：<input type="text" placeholder="请填写真实可联系电话" /></div>
			<div class="self_mes"><span class="mes_red">*&nbsp;</span>服务时间 ：<input type="text" placeholder="服务开始时间" /></div>
			<!--  - - -  - -约会的宝贝- - -   -->
			<div class="date_baby">
				<div class="date_per clearfix">
					<div class="choose_btn no_choose fl"></div>
					<img class="baby_head fl" ng-src="images/1.png" >
					<div class="baby_mes fl">
						<p><span class="baby_name">{{sisterName}}</span><span class="no_line"></span></p>
						<p>服务范围：K歌、看电影</p>
						<p>定价：<span class="dateMoney">￥800.00</span></p>
					</div>
					<button class="delete_btn"></button>
				</div>
				<div class="date_per clearfix">
					<div class="choose_btn yes_choose fl"></div>
					<img class="baby_head fl" ng-src="images/2.png" >
					<div class="baby_mes fl">
						<p><span class="baby_name">{{sisterName}}</span><span class="no_line line"></span></p>
						<p>服务范围：K歌、看电影</p>
						<p>定价：<span class="dateMoney">￥800.00</span></p>
					</div>
					<button class="delete_btn"></button>
				</div>
			</div>
		</div>
		<!--  - -  - - - 合计  - -  - - -->
		<div class="money_all ft24">合计 ：<span class="total">￥800.00</span><button class="pay_btn white tac fr ft24">付  款</button></div>
	</div>
</div>