
<div class="babyHomeContent">
		<div  class="backTop"><img src="./images/backTop.png" alt="" style="width: 58px;position: fixed;right:30px;bottom:20px;z-index:2000;"/></div>
			<div class="container" infinite-scroll='myPagingFunction()' infinite-scroll-disabled='busy'  infinite-scroll-distance='0'  infinite-scroll-immediate-check='true' >
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">{{moreBaby}}</div>
						</div>
					<ul class="row good_baby" ng-repeat="hotBaby in MoreBabyInfo track by $index" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="MoreBabyInfo[$index].babyId != undefined" ng-click="clickBox(MoreBabyInfo[$index])">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(MoreBabyInfo[$index])">约ta</div>
			    				<div class="concern" ng-if="MoreBabyInfo[$index].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(MoreBabyInfo[$index])" ng-mouseover="cancleConcern(MoreBabyInfo[$index])"  ng-mouseout="cancleConcernOut(MoreBabyInfo[$index])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="MoreBabyInfo[$index].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(MoreBabyInfo[$index])">{{concerStatus}}</div></div>
			    					<img ng-src="{{MoreBabyInfo[$index].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{MoreBabyInfo[$index].nickName}}<span>({{MoreBabyInfo[$index].orderCounter}}单)</span></div>
										<p><span class="sex">{{MoreBabyInfo[$index].sex}}</span><span class="age">{{MoreBabyInfo[$index].age}}</span></p>
										<p>身高：<span>{{MoreBabyInfo[$index].height}}cm</span>，体重：<span>{{MoreBabyInfo[$index].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{MoreBabyInfo[$index].scaleName}}</span></p>
										<p>价格：<span>￥{{MoreBabyInfo[$index].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="MoreBabyInfo[$index+1].babyId != undefined" ng-click="clickBox(MoreBabyInfo[$index+1])">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(MoreBabyInfo[$index+1])">约ta</div>
			    				<div class="concern" ng-if="MoreBabyInfo[$index+1].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(MoreBabyInfo[$index+1])" ng-mouseover="cancleConcern(MoreBabyInfo[$index+1])"  ng-mouseout="cancleConcernOut(MoreBabyInfo[$index+1])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="MoreBabyInfo[$index+1].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(MoreBabyInfo[$index+1])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({page:{{page}},id:MoreBabyInfo[$index+1].babyId})">
			    				<img ng-src="{{MoreBabyInfo[$index+1].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{MoreBabyInfo[$index+1].nickName}}<span>({{MoreBabyInfo[$index+1].orderCounter}}单)</span></div>
										<p><span class="sex">{{MoreBabyInfo[$index+1].sex}}</span><span class="age">{{MoreBabyInfo[$index+1].age}}</span></p>
										<p>身高：<span>{{MoreBabyInfo[$index+1].height}}cm</span>，体重：<span>{{MoreBabyInfo[$index+1].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{MoreBabyInfo[$index+1].scaleName}}</span></p>
										<p>价格：<span>￥{{MoreBabyInfo[$index+1].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="MoreBabyInfo[$index+2].babyId != undefined" ng-click="clickBox(MoreBabyInfo[$index+2])">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(MoreBabyInfo[$index+2])">约ta</div>
			    				<div class="concern" ng-if="MoreBabyInfo[$index+2].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(MoreBabyInfo[$index+2])" ng-mouseover="cancleConcern(MoreBabyInfo[$index+2])"  ng-mouseout="cancleConcernOut(MoreBabyInfo[$index+2])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="MoreBabyInfo[$index+2].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(MoreBabyInfo[$index+2])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({page:{{page}},id:MoreBabyInfo[$index+2].babyId})">
			    				<img ng-src="{{MoreBabyInfo[$index+2].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{MoreBabyInfo[$index+2].nickName}}<span>({{MoreBabyInfo[$index+2].orderCounter}}单)</span></div>
										<p><span class="sex">{{MoreBabyInfo[$index+2].sex}}</span><span class="age">{{MoreBabyInfo[$index+2].age}}</span></p>
										<p>身高：<span>{{MoreBabyInfo[$index+2].height}}cm</span>，体重：<span>{{MoreBabyInfo[$index+2].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{MoreBabyInfo[$index+2].scaleName}}</span></p>
										<p>价格：<span>￥{{MoreBabyInfo[$index+2].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="MoreBabyInfo[$index+3].babyId != undefined" ng-click="clickBox(MoreBabyInfo[$index+3])">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(MoreBabyInfo[$index+3])">约ta</div>
			    				<div class="concern" ng-if="MoreBabyInfo[$index+3].attention =='1' "><div  ng-class="{'concern_btn1': concern_btn1, 'concern_btn2': Concern_btn2}"  ng-click="clickConcern(MoreBabyInfo[$index+3])" ng-mouseover="cancleConcern(MoreBabyInfo[$index+3])"  ng-mouseout="cancleConcernOut(MoreBabyInfo[$index+3])">{{cancleConcerStatus}}</div></div>
			    			<div class="concern"  ng-if="MoreBabyInfo[$index+3].attention =='2' "><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(MoreBabyInfo[$index+3])">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({page:{{page}},id:MoreBabyInfo[$index+3].babyId})">
			    				<img ng-src="{{MoreBabyInfo[$index+3].showIndexImg}}" alt="" class="img-responsive center-block sisterImg"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{MoreBabyInfo[$index+3].nickName}}<span>({{MoreBabyInfo[$index+3].orderCounter}}单)</span></div>
										<p><span class="sex">{{MoreBabyInfo[$index+3].sex}}</span><span class="age">{{MoreBabyInfo[$index+3].age}}</span></p>
										<p>身高：<span>{{MoreBabyInfo[$index+3].height}}cm</span>，体重：<span>{{MoreBabyInfo[$index+3].weight}}kg</span></p>
										<p>服务范围：<span class="serverRange">{{MoreBabyInfo[$index+3].scaleName}}</span></p>
										<p>价格：<span>￥{{MoreBabyInfo[$index+3].gradePrice}}</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		</ul>
				</div>
			</div>
			
			<div ng-if="showErr" class="showMes">
			 <div class="erroText">{{erroText}}</div>
			 <div class="sureErr" ng-click="sureErrBtn()">确定</div>
		</div>
			<script type="text/javascript">
			
			
				$(".backTop").on('click',function(){
					$("body").animate({scrollTop: 0}, 500)
				})
				
		$('.backTop').hide()
   		 $(document).scroll(function(){
		var bheight = $(document).height();//获取窗口高度
		var windowheight=window.innerHeight;
		var windowscroll=window.scrollTop;
		var sheight = $("body")[0].scrollHeight;//获取滚动条高度，[0]是为了把jq对象转化为js对象
		var stop = $("body").scrollTop();//滚动条距离顶部的距离
	
		if(stop>2000){
			$('.backTop').show()
		}else{
			$('.backTop').hide()
		}
		});
			</script>