/* - - - - - -content - - - - - - */
.content_wrap_newOrder{
	width: 95%;
	margin:0 auto;
}
		/*———————— 没有订单*/
.no_order{
	display: none;
	height: 30rem;
	border-radius: 6px 6px 6px 6px;
	background: #fff;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 5rem;
    line-height:2rem;
}
.go_choose{
	color: #ccc; 
}
.no_order img{
	margin:0 auto 1rem;
}
		/*- - - - 有订单*/
			/*-  - - - -  order_title - -  -*/
.order_title{
	height: 3rem;
	padding-left: 1rem;
	background: #cdb2ff;
    border-radius: 6px 6px 0px 0px;
    line-height: 2rem;
}
.current_title{
	margin-right: 2.5rem;
	margin-top: 0.5rem;
	font-size: 1.8rem;
}
.top_line{
	height: 0.8rem;
	margin-top: 0.75rem;
}
.circle{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
}
.yellow_circle{
	background: #fff34c;
}
.long_line{
	width: 5.9rem;
	height: 0.1rem;
	background: #fff34c;
	margin-top: 0.4rem;
}
.short_line{
	width: 3.45rem;
	height: 0.1rem;
	background: #fff34c;
	margin-top: 0.4rem;
}
.short_line_white{
	width: 6.5rem;
	height: 0.1rem;
	background: #fff;
	margin-top: 0.4rem;
}
.white_circle{
	background: #fff;
}
.state_word{
	height: 0.7rem;
	font-size: 0.7rem;
	line-height: 0.7rem;
	margin:0.4rem 0 0 -0.75rem;
}
.yellow_word{
	    color: #fff34c;
    width: 4rem;
    margin-right: 2.9rem!important;
}
.order_mes{
	background: #fff;
	padding-left: 0.4rem;
	position: relative;
	font-size: 1.3rem;
}
.order_code{
	margin-right: 6rem;
	display: block;
	width: 17rem;
	
}
.state{
	float:left;
	height:3rem;
}

		/*  - - -  - order_mes - - - - */
.order_mes p{
	line-height: 2rem;
}
.date_loca{
	margin-right: 2rem;
}
.total_money{
	color: #FF8180;
    position: absolute;
    right: 0.5rem;
    top: 1.25rem;
    font-size: 1.3rem;
    
}

/*- ——  - date-baby - ——— --*/
.date-baby{
	width: 100%;
	min-height: 25rem;
	background: #fff;
	border-radius: 0px 0px 6px 6px ;
}
.per-baby{
	/*position: relative;
	height: 15rem!important;*/
	overflow: hidden;
	background: #fff;
	padding: 1rem 0 1rem 1rem!important;
	border-bottom: 1px solid #e6e6e6;
}

.head{
	width: 7rem!important;
	height: 7rem!important;
	border-radius: 50%;
	margin-right:!important; 
}
.baby-mes p{
	line-height: 2.25rem!important;
}
.baby-name{
	display: inline-block!important;
	height: 1.2rem!important;
	line-height: 1.2rem!important;
	margin-right:1rem!important;
}
.no-line{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background: url(../images/no-line.png) no-repeat;
	margin-right: 1.5rem;
}
.line{
	background: url(../images/line.png) no-repeat;
}
.tall_high{
	margin-right: 1rem!important; 
}
.dateMoney{
	margin-left: 1.75rem;
	color: #ff7f7f;
	font-size:1.2rem ;
}
.no-line {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/no-line.png) no-repeat;
    margin-right: 1rem!important;
}
p{
	margin:0 !important;
	}


.down{
	background: url(../images/down.png) no-repeat 100% 100%;
	width: 3rem;
	height: 3rem;
	float: right;
}
.up{
	background: url(../images/up.png) no-repeat 100% 100%;
	width: 3rem;
	height:3rem;
	float: right;
	margin-right: 0.5rem;
}
.content_wrap_oldOrder{
	width:99%;
	margin:0 auto;
}
.total2_money {
	font-size: 2rem;
	color:#FF7F7E;
}
.orders{
	min-height: 45rem;
	border-radius:0 0 6px 6px ;
	background: #fff;
}
.order_left p{
	font-size: 1rem;
}
.sisterImg{
	height: 15rem!important;
	border-radius:6px ;
}
.concern{
	width: 6rem!important;
	height: 2rem!important;
	line-height: 2rem!important;
	
}
.concern_btn {
	height: 2rem!important;
	font-size:0.6rem!important;
}
.concern_btn2{
	width: 6rem!important;
	height: 2rem!important;
	font-size:0.6rem!important;
	    position: absolute;
   right: 0px; 
     bottom: 0px!important;
    z-index: 10;
}
.showMes{
	position:absolute;
	/*left:5rem;top:5rem;*/
	
    left: 50%;
    top: 30%;
    width: 250px;
    background: white;
    text-align: center;
    border-radius: 6px;
    background: #8dc347;
    height: 114px;
    line-height: 58px;
    color: white;
    margin-left: -119px;
    margin-top: -119px;
}
.sureErr {
    width: 70px;
    height: 33px;
    background: rgba(199, 199, 180, 0.9);
    line-height: 34px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 86px;
}