body,html{
	width: 100%;
	height: 100%;
}
.backgroundBox{
	width: 100%;
	height: 100%;
	background:url(../images/some-bg.png) no-repeat;
	background-size:100% 100%; 
}
#login-box{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 29rem;
	height: 35rem;
	padding:3rem 1rem;
	background: #fff;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -17.5rem;
	margin-left: -14.5rem;
	border-radius:20px;
	behavior: url(ie-css3.htc);

}
#login-box .ft20{
	display: inline-block;
	width: 11rem;
	height: 2.5rem;
	color: #646464;
	line-height: 2.5rem;
}
.login-title{
	margin-bottom: 3rem;
}
.login-logo{
	display: inline;
}

.phone-number{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	height: 2.7rem;
	padding:0 1rem 0 3.25rem;
	border-bottom: 1px solid #ccc;
	background: url(../images/phone-bg.png) no-repeat 1rem 0px;	
	background-size: contain;
	
}
#btnSendCode{
	margin-top: 0.5rem;
	background: #fff;
	height: 1.5rem;
	padding:0 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 1.5rem;
	cursor: pointer;
	font-size: 1.4rem;
}
.code-number{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	height: 2.7rem;
	padding-left: 3.25rem;
	border-bottom: 1px solid #ccc;
	background: url(../images/phone-lock.png) no-repeat 0.8rem 0.3rem;	
	margin: 2rem 0 2rem;
}
.invite-number{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	height: 2.7rem;
	padding-left: 3.25rem;
	border-bottom: 1px solid #ccc;
	background: url(../images/invite.png) no-repeat 0.5rem 0rem;	
	margin-bottom:2rem;
	background-size: contain;
}


#login-btn{
	width: 7.5rem;
	height: 2.5rem;
	background: #513a8B;
	line-height: 2.5rem;
	margin:0 auto;
	cursor: pointer;
}
#exitBtn{
	width: 1.4rem;
	height: 1.4rem;
	background: url(../images/exitBtn.png) no-repeat;
	position: absolute;
	top:1rem;
	right:1rem;
	cursor: pointer;
	background-size: contain;
}

.formbox{
	position: relative;
}
.reminder{
	color:red;
	font-size:1.3rem;
	position: absolute;
	left:2.9rem;
	top:12.4rem;
}
.reminder_verify{
	color:red;
	font-size:1.3rem;
	position:absolute;
	left:2.9rem;
	top:17rem;
}
.phone-number input,.code-number input,.invite-number input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
font-size: 1.6rem;
} 
.phone-number input,.code-number input,.invite-number input:-moz-placeholder, textarea:-moz-placeholder { 
font-size: 1.6rem;
} 
.phone-number input,.code-number input,.invite-number input::-moz-placeholder, textarea::-moz-placeholder { 
font-size: 1.6rem;
} 
.phone-number input,.code-number input,.invite-number input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
font-size: 1.6rem;
} 
.intiveInput{
	width: 15rem!important;
}
#login-btn{
	font-size: 1.4rem;
}
.reminder_intive{
	color:red;
	font-size:1.3rem;
	position:absolute;
	left:2.7rem;
	top:21.2rem;
}