
<div class="content">
	<div class="content-wrap">
<div class="good_view clearfix">
			<div class="clearfix">
				<h3 class="baby_title ft20 fl">人气宝贝</h3>
			</div>
			<ul class="good_baby clearfix">
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/1.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/2.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/3.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/4.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/3.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/2.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/1.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<button class="date_btn white ft16">约ta</button>
						<div class="concern"><button class="concern_btn white ft18">关注</button></div>
						<img class="baby_pic" src="./images/3.png">
						<div class="mes-detail ft18">
							<div class="nicheng">温柔De棉花糖<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">23</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		</div>
		</div>