
<!--<div class="content">
	<div class="content-wrap">-->
		<!--  - - -  - -好评宝贝- - -  - -->
		<!--<div class="good_view clearfix">-->
			<!--<div class="clearfix">
				<h3 class="baby_title ft20 fl">好评宝贝</h3>
				<button class="more_btn fr"><a ui-sref="Navbar.babyMore">更多</a></button>
			</div>
			<ul class="good_baby clearfix" >
				<li ng-repeat="sister in sistersName">
					<a href='' class="sisterBox">
						<button class="date_btn white ft16" ng-click="clickMe(sister)">约ta</button>
						<div class="concern"><button  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</button></div>
						<a ui-sref="Navbar.babyInfoDetail({id:sister.id})"><img class="baby_pic" src="./images/1.png" ></a>
						<div class="mes-detail ft18">
							<div class="nicheng">{{sister.name}}<span>(22单)</span></div>
							<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
							<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
							<p>服务范围：K歌、看电影</p>
							<p>价格：<span>￥800</span></p>
						</div>
					</a>
				</li>-->
				<div class="babyHomeContent">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">好评宝贝</div>
							<div class="col-md-6 col-xs-6 text-right"><a ui-sref="Navbar.babyMore" class="Anymore">更多</a></div>
						</div>
					<ul class="row good_baby" ng-repeat="sister in sistersName" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index].id})">
			    				
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+1].id})">
			    				<img src="images/1.png" alt="" class="img-responsive center-block"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+1].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+2].id})">
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
									    				
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+2].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
										</a>	
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+3].id})">
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
			    				
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+3].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		</ul>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">人气宝贝</div>
							<div class="col-md-6 col-xs-6 text-right"><a ui-sref="Navbar.babyMore" class="Anymore">更多</a></div>
						</div>
					<ul class="row good_baby" ng-repeat="sister in sistersName" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index].id})">
			    				
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+1].id})">
			    				<img src="images/1.png" alt="" class="img-responsive center-block"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+1].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+2].id})">
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
									    				
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+2].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
										</a>	
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+3].id})">
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
			    				
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+3].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		</ul>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-6 baby_title ft20 fl">新人宝贝</div>
							<div class="col-md-6 col-xs-6 text-right"><a ui-sref="Navbar.babyMore" class="Anymore">更多</a></div>
						</div>
					<ul class="row good_baby" ng-repeat="sister in sistersName" ng-if="$index % 4 == 0">
			   			<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index].id})">
			    				
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+1].id})">
			    				<img src="images/1.png" alt="" class="img-responsive center-block"/>
								
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+1].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+2].id})">
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
									    				
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+2].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
										</a>	
			    			</div>
			    		</li>
			    		<li class="col-md-3 col-xs-6 img" ng-if="sistersName[$index].id != undefined">
			    			<div class="box row" >
			    				<div class="date_btn white ft16 text-center" ng-click="clickMe(sister)">约ta</div>
			    				<div class="concern"><div  ng-class="{'concern_btn': isConcern, 'concern_btn2': noConcern}"  ng-click="clickConcern(sister)">{{concerStatus}}</div></div>
			    				<a ui-sref="Navbar.babyInfoDetail({id:sistersName[$index+3].id})">
			    					<img src="images/1.png" alt="" class="img-responsive center-block"/>
			    				
			    					<div class="detail center-block col-md-12 col-xs-12 hidden-sm hidden-xs hidden-md">
										<div class="nicheng">{{sistersName[$index+3].name}}<span>(22单)</span></div>
										<p><span class="sex">女</span><span class="age">{{sister.age}}</span></p>
										<p>身高：<span>175cm</span>，体重：<span>45kg</span></p>
										<p>服务范围：K歌、看电影</p>
										<p>价格：<span>￥800</span></p>
									</div>
									</a>
			    			</div>
			    		</li>
			    		</ul>
					</div>
</div>